{% extends 'home.html' %}

{% block content %}
<section style="margin-top: -20px;" class="contact_section layout_padding">
    <div class="container">

      <div class="row">
        <div style=" margin-top: -50px;">

                <center>
                    <img style="height: 700px; width: 1200px; margin-top: 50px;" src="/static/images/graph1.png" alt="Your browser doesn't support this image!">
                </center>

                <center>
                    <img style="height: 700px; width: 1200px; margin-top: 50px;" src="/static/images/graph2.png" alt="Your browser doesn't support this image!">
                </center>

                <center>
                    <img style="height: 700px; width: 1200px; margin-top: 50px;" src="/static/images/graph3.png" alt="Your browser doesn't support this image!">
                </center>

                <center>
                    <img style="height: 700px; width: 1200px; margin-top: 50px;" src="/static/images/graph4.png" alt="Your browser doesn't support this image!">
                </center>

                <center>
                    <img style="height: 700px; width: 1200px; margin-top: 50px;" src="/static/images/graph5.png" alt="Your browser doesn't support this image!">
                </center>

          </form>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}