{% extends 'index.html' %}

{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a style="color: white;" class="nav-link active" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{{url_for('algorithm')}}"> Algorithm</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{{url_for('prediction')}}"> Prediction</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{{url_for('graph')}}"> Graph</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{{url_for('index')}}">Logout</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}

<br><br>

<center>
    <h2 style="color: red; margin-top:20px;">{{ prediction_text }}</h2>

    <br>

    <a href="{{ url_for('prediction') }}">
        <button style="
            padding:12px 25px;
            border-radius:8px;
            background-color:#007bff;
            color:white;
            border:none;
            font-size:16px;
            cursor:pointer;">
            Go to Prediction
        </button>
    </a>
</center>

<br><br>

<center>
    <section style="margin-top: 40px; padding: 30px;" class="slider_section ">
      <div class="detail-box">
        <h1 style="color: black;">
          Energy Consumption Prediction
        </h1>
        <p style="color: black;">
          This system predicts electricity usage using AI models like LSTM. 
          It considers environmental factors such as temperature, humidity, and time 
          to provide accurate energy consumption forecasts.
        </p>
      </div>
    </section>
</center>

{% endblock %}