{% extends 'verify_otp.html' %}

{% block content %}
<html>
<head><title>Reset Password</title></head>
<body>
    <div>
        <center>
    <h2>Reset Password</h2><br>
    <form action="/reset_password" method="POST">
        Password: <input type="password" name="new_password" placeholder="Enter new password" required><br>
        Confirm Password: <input type="password" name="confirm_password" placeholder="Confirm new password" required>    
        <button type="submit">Reset Password</button>
    </form> 
</center>
</div>  
</body>
</html>
{% endblock %}